body {
  background: #000;
  color: #d6d6d6; }

svg path {
  fill: #fff;
  transition: .5s ease; }

section {
  margin-bottom: 30px; }

.mobile-burger {
  display: none;
  z-index: 99; }

.clickable {
  cursor: pointer; }

.container.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  max-width: 960px; }

.main-container {
  background: url(../img/tooth-02-02.png) repeat-y;
  padding: 50px 0 0 50px;
  background-size: 6.2%;
  background-position-y: 16px;
  animation: gearUp 2s 0.7s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29); }

.gear-box {
  position: relative;
  right: -10px; }
  .gear-box .sticky {
    right: -12px;
    top: 50px;
    position: sticky;
    perspective: 2000px; }
  .gear-box svg {
    width: 100%;
    overflow: unset;
    animation: zoomIn .6s backwards ease; }

.cw, .ccw {
  transform-origin: center; }

img {
  max-width: 100%; }

.slide-out {
  background: #000;
  position: absolute;
  top: 0;
  height: 86%;
  color: #fff;
  width: 100%;
  left: 0px;
  box-shadow: inset 0 0 0 2px;
  z-index: -2;
  text-align: right;
  padding: 15px 15px 15px calc(44% + 5px);
  transition: 2s cubic-bezier(0.25, 0.1, 0.71, 1.28); }
  .slide-out.visible {
    left: 56%; }

.project-box {
  position: relative; }

.project {
  position: relative;
  cursor: pointer; }
  .project:after {
    content: url(../img/side-gear-03.png);
    position: absolute;
    bottom: -46px;
    right: -38px;
    z-index: -1;
    transform: rotate(8deg);
    transition: 2s cubic-bezier(0.25, 0.1, 0.71, 1.28); }
  .project h3 {
    position: absolute;
    background: #00000078;
    width: 100%;
    top: 46%;
    text-align: center;
    padding: 10px 0 14px;
    margin: 0;
    line-height: 1;
    text-transform: uppercase; }
  .project.roll:after {
    transform: rotate(418deg); }

.slide-out:after {
  background: url(../img/tooth-02-02.png) repeat-x;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 14%;
  top: 99%;
  z-index: -3;
  box-shadow: inset 0 2px; }

.move .main-container h1, .move .main-container .main {
  opacity: 0.2; }

.main-container h1, .main-container .main {
  transition: .5s ease; }

#Gears > g > g:nth-of-type(1):not([id^='link-']) {
  animation: slideInLeft 0.5s 2.0833333333s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29); }

#Gears > g > g:nth-of-type(2):not([id^='link-']) {
  animation: slideInLeft 0.5s 2.1666666667s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29); }

#Gears > g > g:nth-of-type(3):not([id^='link-']) {
  animation: slideInLeft 0.5s 2.25s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29); }

#Gears > g > g:nth-of-type(4):not([id^='link-']) {
  animation: slideInLeft 0.5s 2.3333333333s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29); }

#Gears > g > g:nth-of-type(5):not([id^='link-']) {
  animation: slideInLeft 0.5s 2.4166666667s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29); }

#Gears > g > g:nth-of-type(6):not([id^='link-']) {
  animation: slideInLeft 0.5s 2.5s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29); }

#Gears > g > g:nth-of-type(7):not([id^='link-']) {
  animation: slideInLeft 0.5s 2.5833333333s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29); }

#Gears > g > g:nth-of-type(8):not([id^='link-']) {
  animation: slideInLeft 0.5s 2.6666666667s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29); }

#Gears > g > g:nth-of-type(9):not([id^='link-']) {
  animation: slideInLeft 0.5s 2.75s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29); }

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-900px); }
  to {
    opacity: 1;
    transform: translateX(0); } }
@keyframes zoomIn {
  from {
    transform: translate3d(100px, 0px, 2000px); }
  to {
    transform: translate3d(0px, 0px, 0px); } }
g.ccw[data-driver='12'][data-self='16'] {
  animation: slideInLeft 0.5s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29), introRotateCCW1216 2s 0.7s cubic-bezier(0.25, 0.1, 0.45, 1.29); }

@keyframes introRotateCCW1216 {
  from {
    transform: rotate(403.7267080745deg); }
  to {
    transform: rotate(0deg); } }
g.ccw[data-driver='12'][data-self='12'] {
  animation: slideInLeft 0.5s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29), introRotateCCW1212 2s 0.7s cubic-bezier(0.25, 0.1, 0.45, 1.29); }

@keyframes introRotateCCW1212 {
  from {
    transform: rotate(538.3022774327deg); }
  to {
    transform: rotate(0deg); } }
g.ccw[data-driver='12'][data-self='8'] {
  animation: slideInLeft 0.5s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29), introRotateCCW128 2s 0.7s cubic-bezier(0.25, 0.1, 0.45, 1.29); }

@keyframes introRotateCCW128 {
  from {
    transform: rotate(807.4534161491deg); }
  to {
    transform: rotate(0deg); } }
g.ccw[data-driver='12'][data-self='6'] {
  animation: slideInLeft 0.5s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29), introRotateCCW126 2s 0.7s cubic-bezier(0.25, 0.1, 0.45, 1.29); }

@keyframes introRotateCCW126 {
  from {
    transform: rotate(1076.6045548654deg); }
  to {
    transform: rotate(0deg); } }
g.cw[data-driver='12'][data-self='16'] {
  animation: slideInLeft 0.5s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29), introRotateCW1216 2s 0.7s cubic-bezier(0.25, 0.1, 0.45, 1.29); }

@keyframes introRotateCW1216 {
  from {
    transform: rotate(-403.7267080745deg); }
  to {
    transform: rotate(0deg); } }
g.cw[data-driver='12'][data-self='12'] {
  animation: slideInLeft 0.5s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29), introRotateCW1212 2s 0.7s cubic-bezier(0.25, 0.1, 0.45, 1.29); }

@keyframes introRotateCW1212 {
  from {
    transform: rotate(-538.3022774327deg); }
  to {
    transform: rotate(0deg); } }
g.cw[data-driver='12'][data-self='8'] {
  animation: slideInLeft 0.5s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29), introRotateCW128 2s 0.7s cubic-bezier(0.25, 0.1, 0.45, 1.29); }

@keyframes introRotateCW128 {
  from {
    transform: rotate(-807.4534161491deg); }
  to {
    transform: rotate(0deg); } }
g.cw[data-driver='12'][data-self='6'] {
  animation: slideInLeft 0.5s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29), introRotateCW126 2s 0.7s cubic-bezier(0.25, 0.1, 0.45, 1.29); }

@keyframes introRotateCW126 {
  from {
    transform: rotate(-1076.6045548654deg); }
  to {
    transform: rotate(0deg); } }
#Gears > g > g[id^='link-']:nth-of-type(1) {
  animation-delay: 0.0588235294s, 0.7s; }

#Gears > g > g[id^='link-']:nth-of-type(2) {
  animation-delay: 0.1176470588s, 0.7s; }

#Gears > g > g[id^='link-']:nth-of-type(3) {
  animation-delay: 0.1764705882s, 0.7s; }

#Gears > g > g[id^='link-']:nth-of-type(4) {
  animation-delay: 0.2352941176s, 0.7s; }

@keyframes gearUp {
  from {
    opacity: 0;
    margin-top: 520px; }
  to {
    opacity: 1;
    margin-top: 0; } }
@media screen and (max-width: 768px) {
  .container.grid {
    grid-template-columns: 1fr 2fr; }

  .project-box {
    overflow: hidden; }

  .slide-out {
    top: 100%;
    height: 100%;
    z-index: 1;
    width: 86%;
    padding: 20px; }

  .slide-out:after {
    background-repeat: repeat-y;
    width: 14%;
    height: 100%;
    left: 99%;
    top: 0; }

  .project:after {
    z-index: 1; }

  .slide-out.visible {
    top: 0;
    left: 0; } }
@media screen and (max-width: 525px) {
  body {
    overflow-x: hidden; }

  .container.grid {
    grid-template-columns: 1fr;
    transition: .5s ease;
    position: relative;
    left: 0; }
    .container.grid.move {
      left: 232.5px; }

  .mobile-burger {
    display: block;
    position: fixed;
    left: 67px;
    font-size: 36px;
    transition: .5s ease; }

  .gear-box {
    position: fixed;
    width: 232.5px;
    left: -232.5px;
    transition: .5s ease; }

  .move .gear-box {
    left: 25px;
    height: 100vh;
    overflow: auto; }
  .move .mobile-burger {
    left: 299.5px; } }

/*# sourceMappingURL=master.css.map */
