body {
    background: #000;
    color: #d6d6d6;
}

svg path {
    fill: #fff;
    transition: .5s ease;
}

section {
    margin-bottom: 30px;
}

.mobile-burger {
    display: none;
    z-index: 99;
}

.clickable {
    cursor: pointer;
}

.container.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    max-width: 960px;
}

.main-container {
    background: url(../img/tooth-02-02.png) repeat-y;
    padding: 50px 0 0 50px;
    background-size: 6.2%;
    background-position-y: 16px;
    animation: gearUp 2s .7s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29);
}

.gear-box {
    position: relative;
    right: -10px;
    .sticky {
        right: -12px;
        top: 50px;
        position: sticky;
        perspective: 2000px;
    }
    svg {
        width: 100%;
        overflow:unset;
        animation: zoomIn .6s backwards ease;
    }
}

.cw, .ccw {
    transform-origin: center;
}

img {
    max-width: 100%;
}

.slide-out {
    background: #000;
    position: absolute;
    top: 0;
    height: 86%;
    color: #fff;
    width: 100%;
    left: 0px;
    box-shadow: inset 0 0 0 2px;
    z-index: -2;
    text-align: right;
    padding: 15px 15px 15px calc(44% + 5px);
    transition: 2s cubic-bezier(0.25, 0.1, 0.71, 1.28);
    &.visible {
        left: 56%;
    }
}
.project-box {
    position: relative;
}

.project {
    position: relative;
    cursor: pointer;
    &:after {
        content: url(../img/side-gear-03.png);
        position: absolute;
        bottom: -46px;
        right: -38px;
        z-index: -1;
        transform: rotate(8deg);
        transition: 2s cubic-bezier(0.25, 0.1, 0.71, 1.28);
    }
    h3 {
        position: absolute;
        background: #00000078;
        width: 100%;
        top: 46%;
        text-align: center;
        padding: 10px 0 14px;
        margin: 0;
        line-height: 1;
        text-transform: uppercase;
    }
    &.roll:after {
        transform: rotate(418deg);
    }
}
.slide-out:after {
    background: url(../img/tooth-02-02.png) repeat-x;
    content: "";
    position: absolute;
    left: 0;width: 100%;
    height: 14%;
    top: 99%;
    z-index: -3;
    box-shadow: inset 0 2px;
}

.move .main-container h1, .move .main-container .main {
    opacity: 0.2;
}

.main-container h1, .main-container .main {
    transition: .5s ease;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}


// #Gears > g > g {
//     transition: .5s ease;
// }

@for $i from 1 through 9 {
    $delay : $i/12 + 2 ;
    #Gears > g > g:nth-of-type(#{$i}):not([id^='link-']){
        animation: slideInLeft 0.5s #{$delay}s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29);

    }
}

@keyframes slideInLeft {
    from{
        opacity: 0;
        transform: translateX(-900px);
    }
    to {
        opacity:1;
        transform: translateX(0);
    }

}

@keyframes zoomIn {
    from {
        transform: translate3d(100px, 0px, 2000px);
    }
    to {
        transform: translate3d(0px, 0px, 0px);
    }
}


$gears: (
    16 : 12,
    12 : 12,
    // 8 : 12,
    // 6 : 12,
);

@each $self, $driver in $gears {
    $calc : 520 / (.966 * $self / $driver);
    g.ccw[data-driver='#{$driver}'][data-self='#{$self}'] {
        animation:slideInLeft 0.5s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29), introRotateCCW#{$driver}#{$self} 2s 0.7s cubic-bezier(0.25, 0.1, 0.45, 1.29);
    }

    @keyframes introRotateCCW#{$driver}#{$self} {
        from {
            transform:rotate($calc + deg);
        }
        to {
            transform:rotate(0deg);
        }
    }
}
@each $self, $driver in $gears {
    $calc : -520 / (.966 * $self / $driver);
    g.cw[data-driver='#{$driver}'][data-self='#{$self}'] {
        animation:slideInLeft 0.5s backwards cubic-bezier(0.25, 0.1, 0.45, 1.29), introRotateCW#{$driver}#{$self} 2s 0.7s cubic-bezier(0.25, 0.1, 0.45, 1.29);
    }

    @keyframes introRotateCW#{$driver}#{$self} {
        from {
            transform:rotate($calc + deg);
        }
        to {
            transform:rotate(0deg);
        }
    }
}

@for $i from 1 through 4 {
    #Gears > g > g[id^='link-']:nth-of-type(#{$i}) {
        animation-delay: $i / 10 + s, .7s;
    }
}
@keyframes gearUp {
    from {
        opacity: 0;
        margin-top: 520px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }

}



@media screen and (max-width:768px) {
    .container.grid {
        grid-template-columns: 1fr 2fr;
    }

    .project-box {
        overflow: hidden;
    }

    .slide-out {
        top: 100%;
        height: 100%;
        z-index: 1;
        width: 86%;
        padding: 20px;
    }

    .slide-out:after {
        background-repeat: repeat-y;
        width: 14%;
        height: 100%;
        left: 99%;
        top: 0;
    }

    .project:after{
        z-index:1;
    }
    .slide-out.visible {
        top: 0;
        left: 0;
    }
}

@media screen and (max-width:525px){

    body {
        overflow-x: hidden;
    }

    .container.grid {
        grid-template-columns: 1fr;
        transition: .5s ease;
        position: relative;
        left: 0;
        &.move {
            left: 232.5px;
        }
    }

    .mobile-burger {
        display: block;
        position: fixed;
        left: 67px;
        font-size: 36px;
        transition: .5s ease;
    }
    .gear-box {
        position: fixed;
        width: 232.5px;
        left: -232.5px;
        transition: .5s ease;
    }

    .move {
        .gear-box {
            left: 25px;
            height: 100vh;
            overflow: auto;
        }
        .mobile-burger {
            left: 299.5px;
        }
    }


}
