body {
    background: #000;
    color: #d6d6d6;
}

svg path {
    fill: #fff;
}


.container.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 50px;
    max-width: 960px;
}

.main-container {
    background: url(../img/tooth-02-02.png) repeat-y;
    padding-left: 50px;
    background-size: 6.2%;
    background-position-y: -6px;
}

.gear-box .sticky {
    right: -12px;
    top: 50px;
    position: sticky;
}
.gear-box svg {
    width: 100%;
}
.gear-box {
    position: relative;
    right: -10px;
}

.cw, .ccw {
    transform-origin: center;
}

/* .cw path:first-of-type, .ccw path:first-of-type{
    transform-origin: center;
} */
